.timeLineEventDate {
    color: aliceblue;
  }
  
  .timeLineEvent {
    border-radius: 5px;
    background-color: #000102;
    padding: 6%;
    color: aliceblue;
    font-weight: bold;
  }
  .timeLineEventActive {
    border-radius: 5px;
    background-color: #075281;
    padding: 6%;
    color: aliceblue;
    font-weight: bold;
  }
  @media only screen and (min-width: 800px) {
    .timeLineEventDate {
      color: aliceblue;
      font-size: larger;
    }
  
    .timeLineEvent {
      background-color: #000102;
      border-radius: 15px;
      padding: 15px 20px;
      color: aliceblue;
      font-size: larger;
      font-weight: bold;
    }

    .timeLineEventActive{
      background-color: #075281;
      border-radius: 15px;
      padding: 15px 20px;
      color: aliceblue;
      font-size: larger;
      font-weight: bold;
    }
  }
  